URxvt*font:         xft:Inconsolata-13
URxvt*scrollBar:    false
URxvt*background:   #000000
!URxvt*foreground:   #dedede
URxvt*termname:     urxvt-color
URxvt*antialias:    true
!URxvt*depth:        32
!URxvt*background:   rgba:2000/2000/2000/aaaa

!URxvt*color0: #284763
!URxvt*color1: #5b5b6e
!URxvt*color2: #8d5562
!URxvt*color3: #b0464f
!URxvt*color4: #ff9625
!URxvt*color5: #202030
!URxvt*color6: #473a36
!URxvt*color7: #ff992f
!URxvt*color8: #9c9b6d
!URxvt*color9: #744c30
!URxvt*color10: #d3373e
!URxvt*color11: #a76930
!URxvt*color12: #942d37
!URxvt*color13: #e1e08f
!URxvt*color14: #fc2728
!URxvt*color15: #da8531
